<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm House</title>
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link href="/vendor/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/css/mdb.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="/css/about.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
</head>

<body>
<% include include/navbar.ejs%>



<div class="content">
    <div class="container">
        <% include include/search.ejs%>
        <div class="border-Control">
            <br>
            <div class="reviews">
                <h2>About US</h2>

                <p>Sell DVDS online was created as an easy way for people to buy DVD, CD, book and Video Games online. we are no stranger to buying items online. With the first sell website launching , Rhymth House has sold items for over 5,800 individuals from every where in the World!</p>
                <h2>Our Mission</h2>

                <p>Rhythm House's core mission is to help and protect our enviroment by encouraging the reuse of items. We encourage reuse by offering consumers the ability to sell excess items easily. When you sell items to Ez Book Recycle you are helping increase the supply of used goods in circulation, thus cutting down the amount of raw material needed for new merchandise.</p>
                <h2>Thank You!</h2>

                </div>
            <br>
        </div>

        <h2 class="text-center">Sell used items and make easy money with Ryhm House</h2>
        <!--<h2>It's that simple</h2>-->
        <hr>
        <div class="row" style="clear:both; margin-bottom: 30px;">
            <div class="col-md-4" style="text-align: center;padding-top: 30px; ">
                <p><span class="glyphicons cart_in steps"></span></p>
                <h4>1. Enter items</h4>

                <p>Take the items you want to sell and enter them into the search field in the upper part of the website. If you are interested in the sale you put the item into your selling cart.</p><p>If you want to sell several items use the bulk compare or our Barcode Scanner App.</p>

            </div>
            <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
                <p><span class="glyphicons certificate steps"></span></p>

                <h4>2. Identify best buyers</h4>

                <p>In the shopping cart view, you can see the best buyers, paying you the highest prices for your entire selling cart.</p><p>That's how you can easily yield 100%+ over the average offers.</p>

            </div>
            <div class="col-md-4" style="text-align: center; padding-top: 30px; ">
                <p><span class="glyphicons cart_out steps"></span></p>

                <h4>3. Sell items to vendors</h4>

                <p>We guide you through the process of selling your items to the buyers.</p><p>Few days after having shipped the items, you will receive your money from the buyer.</p>

            </div>
        </div>
    </div>
</div>
<!--sign up-sign in-->
<% include include/reg-log.ejs %>

<!--Include Footer-->
<% include include/footer.ejs%>


<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/mdb.min.js"></script>
<script src="/vendor/js/jquery.validate.min.js"></script>
<script src="/resources/js/validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/resources/js/myjs.js"></script>

</body>
</html>




