
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>

    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/mdb.min.css">
    <!-- Font Awesome -->

    <link type="text/html" rel="stylesheet" href="/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="/css/book.css">

</head>
<body>

<% include include/navbar.ejs%>



<div class="main">
    <div class="inner-page container">
        <% include include/search.ejs%>
        <section class="main-clearfix">
            <h1 class="page-title">Book</h1>
            <hr>
            <div class="just-in-box ">
                <div class="just-in-tab1">
                    <div class="filter-item">
                        <div class="select-container">
                            <select class="browser-default custom-select">
                                <option selected>Sort by</option>
                                <option value="3">New Releases</option>
                                <option value="4">Top Seller</option>
                                <option value="5">Clearance</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item">
                        <select class="browser-default custom-select">
                            <option selected>Price</option>
                            <option value="1"> 0$ - 5$ </option>
                            <option value="2"> 5$ - 10$</option>
                            <option value="3"> > 10$</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </div>

                    <div class="filter-item">
                        <label>&nbsp; </label>
                        <button class="search"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="clear"></div>
    <div class="hot-disk">
        <div class="container">
          
                <div class="list-hot-disk">
                    <div class="row text-center">
                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/305689_p82765mbatrc.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <a class="vieweye" href="/client/detail-book"> <i class="fas fa-eye"></i></a>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Technology Revolution 4.0</h4></a>
                                    <div class="artist">
                                        <small>Author: Many authors </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">3.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">6 Ratings &amp; 3 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 8
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/228637_p71032mbiatruoc.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>How to Win Friends and...</h4></a>
                                    <div class="artist">
                                        <small>Author: Dale Carnegie </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">4.0
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">16 Ratings &amp; 5 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 15
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/298996_p81405mbiatruoc.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Hug Anchor Lying Dreaming...</h4></a>
                                    <div class="artist">
                                        <small>Author: Thien Ngan</small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">3.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 13
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-strong">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/246166_p73565mbiatruoc.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Goodbye, Things: On ...</h4></a>
                                    <div class="artist">
                                        <small>Author: Sasaki Fumio </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">4.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">44 Ratings &amp; 7 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 12
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/278742_p77977mimg729.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Coffe With Tony</h4></a>
                                    <div class="artist">
                                        <small>Author: Tony </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">3.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">10 Ratings &amp; 4 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 7
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/272013_p77177mimg568.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>The Alchemist</h4></a>
                                    <div class="artist">
                                        <small>Author: Paulo Coelho </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">3.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i>6
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/320771_p85171mcamonnguoilonbiacungxp.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Thanks Adult</h4></a>
                                    <div class="artist">
                                        <small>Author: Nguyen Nhat Anh  </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">3.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 11
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-3">

                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://www.vinabook.com/images/thumbnails/product/240x/319011_p85106m1.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Leonardo Da Vinci</h4></a>
                                    <div class="artist">
                                        <small>Author: Walter Isaacson  </small>
                                    </div>
                                    <div class="m-b-10">
                                        <label class="label label-success">3.5
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                    </div>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 23
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5"></div>
                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="e-product-list_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="e-product-list_previous">
                                    <a href="#" aria-controls="e-product-list" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="e-product-list" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="e-product-list" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="e-product-list" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                </li>
                                <li class="paginate_button page-item next" id="e-product-list_next">
                                    <a href="#" aria-controls="e-product-list" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--sign up-sign in-->
<% include include/reg-log.ejs %>

<!--Include Footer-->
<% include include/footer.ejs%>


<script src="/vendor/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/mdb.min.js"></script>
<script src="/vendor/js/jquery.validate.min.js"></script>
<script src="/resources/js/validate.js"></script>
<script src="/resources/js/myjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0942d7e6005a95"  ></script>-->
</body>
</html>
