<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CD</title>

    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/mdb.min.css">
    <!-- Font Awesome -->
    <link type="text/html" rel="stylesheet" href="/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="/css/cart.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->

</head>
<body>
<% include include/navbar.ejs%>

<div class=" container">
    <% include include/search.ejs%>
    <table id="cart" class="table table-hover table-condensed" >
        <thead class="col-sm-8">
        <tr  class="">
            <th >Image</th>
            <th >Name</th>
            <th >Price</th>
            <th >Quantity</th>
            <th >Total price</th>
            <th >Note</th>
        </tr>
        </thead>
        <tbody class="col-sm-8" >
        <tr >
            <td data-th="Image">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://image.phimmoi.net/film/7020/poster.medium.jpg" alt="PR1" class="img-responsive" width="100">
                    </div>

                </div>
            </td>
            <td data-th="Name">Spider-Man: Into the Spider-Verse</td>
            <td data-th="Price" style="font-size: 16px;">5<i class="fas fa-dollar-sign"></i></td>
            <td data-th="Quantity"><input class="form-control text-center" value="1" type="number" style="font-size: 16px;">
            </td>
            <td data-th="Subtotal" class="text-center " >5<i class="fas fa-dollar-sign"></i></td>

        </tr>
        <!--<tr>-->
            <!--<td data-th="Product">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-2 hidden-xs"><img src="http://image.phimmoi.net/film/6375/poster.medium.jpg" alt="Sản phẩm 1" class="img-responsive" width="100">-->
                    <!--</div>-->

                <!--</div>-->
            <!--</td>-->
            <!--<td data-th="Name">Incredibles CD</td>-->
            <!--<td data-th="Price" >5<i class="fas fa-dollar-sign"></i></td>-->
            <!--<td data-th="Quantity"><input class="form-control text-center" value="1" type="number" style="font-size: 16px;">-->
            <!--</td>-->
            <!--<td data-th="Subtotal" class="text-center">5<i class="fas fa-dollar-sign"></i></td>-->

        <!--</tr>-->
        </tbody>
        <tfoot class="col-sm-8" >

        <tr >
            <td><a href="/client/home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Buy continue</a>
            </td>
            <td colspan="2" class="hidden-xs"> </td>
            <td class="hidden-xs text-center"><strong >Total price: 5<i class="fas fa-dollar-sign"></i></strong>
            </td>
            <td><a href="#" class="btn btn-primary btn-block">Pay<i class="fa fa-angle-right"></i></a>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<!--sign up-sign in-->
<% include include/reg-log.ejs %>

<!--Include Footer-->
<% include include/footer.ejs%>

<script src="/vendor/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/mdb.min.js"></script>
<script src="/vendor/js/jquery.validate.min.js"></script>
<script src="/resources/js/validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/resources/js/myjs.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


</body>
</html>