<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link type="text/html" href="/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="stylesheet" href="/css/contact.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
</head>
<body>
<div id="header">
    <nav class="navbar navbar-expand-sm fixed-top purple-gradient">
        <a class="navbar-brand logo" href="/client/home"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="menu">
                <ul class=" nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/client/home"><i class="fas fa-home "></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/disk" id="disk">Disk</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/ticket" id="ticket">Liveshow</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/magazine" id="magazine">Magazine</a>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/book" id="book">Book</a>

                    </li>
                    <li class="nav-item">
                        <a href="/client/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="search"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/customer" id="customer"><i class="fas fa-user-circle"></i></a>
                        <ul class="item-menu">
                            <li><a class=" register nav-link" href="#" data-toggle="modal" data-target="#registerModal">Sign
                                    In</a></li>
                            <li><a class="login nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign
                                    Up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!--nav end-->
</div> <!--header end-->
<div class="content">
    <div class="container map">
        <h1>Contact</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4460.8097864841275!2d105.78019427665997!3d21.028977583963215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3285df81f%3A0x97be82a66bbe646b!2sDetech+Building!5e0!3m2!1svi!2s!4v1548309105556"
                width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="contact-form col-sm-6">
                <!--làm form contact-->
                <form class="form-horizontal" action="#">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contact-information col-sm-6">
                <p>Address...</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with d</p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <a class="pagetop" href="#header" style="display: block; position: fixed; bottom: 10px;">
        <i class="fas fa-arrow-circle-up fa-2x"></i>
        <i class="fas fa-envelope fa-2x"></i>
        <i class="fas fa-phone fa-2x animated"></i>
    </a>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Connect With Us</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <div class="links">
                        <ul class="list-unstyled">
                            <li class="fb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                              title="Like Us on FB">
                                    <i class="fab fa-facebook fa-2x"></i><span class="ml-2">Facebook</span></a></li>
                            <li class="inst"><a class="d-flex align-items-center pl-0" href="#"
                                                title="Follow Us on Inst" target="_blank">
                                    <i class="fab fa-instagram fa-2x"></i><span class="ml-2">Instagram</span></a></li>
                            <li class="ytb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                               title="Subcribe Us on YTB">
                                    <i class="fab fa-youtube fa-2x"></i><span class="ml-2">Youtube</span></a></li>
                            <li class="email"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                 title=" ">
                                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span
                                            class="ml-2">Email</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4>Support</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Leave Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Privacy</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Service</a></li>
                        <li><a href="#">Supplier Code of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <img src="/img/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="pull purple-gradient">
        <p style="color: white">Copyright © 2019 Rhythm House. All rights reserved.</p>
    </div>
</div> <!--footer end-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/mdb.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0942d7e6005a95"  ></script>-->
</body>