<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm House</title>
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="/css/disk.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
</head>
<body ng-app="myApp">
<div id="header">
    <nav class="navbar navbar-expand-sm fixed-top purple-gradient">
        <a class="navbar-brand logo" href="/client/home"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="menu">
                <ul class=" nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/client/home"><i class="fas fa-home "></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/disk" id="disk">Disk</a>
                        <ul class="item-menu">
                            <!--<li><a href="/client/CD">CD</a></li>-->
                            <!--<li><a href="/client/DVD">DVD</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/ticket" id="ticket">Liveshow</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/magazine" id="magazine">Magazine</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/book" id="book">Book</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="search"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/customer" id="customer"><i class="fas fa-user-circle"></i></a>
                        <ul class="item-menu">
                            <li><a class=" register nav-link" href="#" data-toggle="modal" data-target="#registerModal">Sign
                                    In</a></li>
                            <li><a class="login nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign
                                    Up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!--nav end-->
</div> <!--header end-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                 src="https://justinbiebergames.files.wordpress.com/2011/12/justinbiebergames.jpg"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://downtownelpaso.com/wp-content/uploads/2018/06/banner-downtown-crescendo-noclick.jpg"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://static.meraevents.com/content/eventbanner/165215/BANNER1542019010pXbOB.png"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> <!--banner end-->
<div class="content">
    <div class="hot-disk">
        <div class="container">
            <h2 class="title-content animated slideInLeft slow">CD
                <a class="view-more" href="/client/CD">View more<i class="fas fa-angle-double-right ml-2"></i></a>
            </h2>
            <div class="list-hot-disk">
                <div class="row text-center">
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/1018/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    TRANSFORMERS: AGE OF...
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="https://photo-resize-zmp3.zadn.vn/w240h240_jpeg/cover/9/3/5/f/935f82d0a14506cbe42cde70aaf78cee.jpg"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">
                                    <p></p>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    DDU-DU DDU-DU (JP Ver.)
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 15.00$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="https://pbs.twimg.com/media/Dp4ID1aU8AAtFel.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <p></p>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Sorry
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-strong">
                                <img class="card-img-top img-fluid"
                                     src="https://d2tml28x3t0b85.cloudfront.net/tracks/artwork/23935a003d5611e6934f63ca4434b432/258e8dc03d5611e6b5b241a819b52d27-Banner.png"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">

                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Alone remix
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/4325/poster.medium.jpg"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">

                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    JOHN WICK: CHAPTER 2
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/2871/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">

                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Steve Jobs
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--hot-disk-->
    <div class="hot-disk">
        <div class="container">
            <h2 class="title-content animated slideInLeft slow">DVD
                <a class="view-more" href="/client/DVD">View more<i class="fas fa-angle-double-right ml-2"></i></a>
            </h2>
            <div class="list-hot-disk">
                <div class="row text-center">
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="https://pbs.twimg.com/media/Dp4ID1aU8AAtFel.jpg"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">
                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Purpose World
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="https://f.ptcdn.info/970/023/000/1412026068-Maroon5VDe-o.png"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">
                                    <p>V</p>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Purpose World
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 150$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="https://fanart.tv/fanart/music/301b45a4-b8b9-410e-8344-4b4eaf96691a/albumcover/silence-5c229658a3eb7.jpg"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">
                                    <p></p>
                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Purpose World
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-strong">
                                <img class="card-img-top img-fluid"
                                     src="https://d2tml28x3t0b85.cloudfront.net/tracks/artwork/23935a003d5611e6934f63ca4434b432/258e8dc03d5611e6b5b241a819b52d27-Banner.png"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">

                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Purpose World
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://dailytrojan.com/wp-content/uploads/2015/11/web-beiber.jpg"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">

                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Purpose World
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="https://d3us2i0tqwa7m7.cloudfront.net/pulses/18765702693610000/1481497028993_res_original.jpg"
                                     alt="Purpose World">
                                <div class="mask flex-center waves-effect waves-light">

                                </div>
                            </div>
                            <div class="title">
                                <a href="#" class="hidden-link">
                                    Purpose World
                                </a>
                            </div>
                            <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <a class="pagetop" href="#header" style="display: block; position: fixed; bottom: 10px;">
        <i class="fas fa-arrow-circle-up fa-2x"></i>
        <i class="fas fa-envelope fa-2x"></i>
        <i class="fas fa-phone fa-2x animated"></i>
    </a>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Connect With Us</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <div class="links">
                        <ul class="list-unstyled">
                            <li class="fb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                              title="Like Us on FB">
                                    <i class="fab fa-facebook fa-2x"></i><span class="ml-2">Facebook</span></a></li>
                            <li class="inst"><a class="d-flex align-items-center pl-0" href="#"
                                                title="Follow Us on Inst" target="_blank">
                                    <i class="fab fa-instagram fa-2x"></i><span class="ml-2">Instagram</span></a></li>
                            <li class="ytb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                               title="Subcribe Us on YTB">
                                    <i class="fab fa-youtube fa-2x"></i><span class="ml-2">Youtube</span></a></li>
                            <li class="email"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                 title=" ">
                                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span
                                            class="ml-2">Email</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4>Support</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Leave Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Privacy</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Service</a></li>
                        <li><a href="#">Supplier Code of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <img src="/img/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="pull purple-gradient">
        <p style="color: white">Copyright © 2019 Rhythm House. All rights reserved.</p>
    </div>
</div> <!--footer end-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0942d7e6005a95"  ></script>-->
<!--<script src="/js/myjs/home.js"></script>-->
</body>
</html>