<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CD</title>
    <link rel="stylesheet" href="/css/DVD.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Font Awesome -->
    <link type="text/html" rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div id="header">
        <nav class="navbar navbar-expand-sm fixed-top purple-gradient">
            <a class="navbar-brand logo" href="/client/home"><img src="/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="menu">
                    <ul class=" nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/client/home"><i class="fas fa-home "></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/disk" id="disk">Disk</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/client/ticket" id="ticket">Liveshow</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/client/magazine" id="magazine">Magazine</a>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/book" id="book">Book</a>

                        </li>
                        <li class="nav-item">
                            <a href="/client/contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="/client/about" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="search"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/customer" id="customer"><i class="fas fa-user-circle"></i></a>
                            <ul class="item-menu">
                                <li><a class=" register nav-link" href="#" data-toggle="modal" data-target="#registerModal">Sign
                                        In</a></li>
                                <li><a class="login nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign
                                        Up</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> <!--nav end-->
    </div>

    <div class="main">
        <div class="inner-page container">
            <section class="main-clearfix">
                <h1 class="page-title">DVD</h1>
                <hr>
                <div class="just-in-box ">
                    <div class="just-in-tab1">
                        <div class="filter-item">
                            <div class="select-container">
                                <select class="browser-default custom-select">
                                    <option selected>Movies</option>
                                    <option value="4">Band</option>
                                    <option value="5">Solo</option>
                                    <option value="6">Release year</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <!--<label>Price range:</label>-->
                            <select class="browser-default custom-select">
                                <option selected>Price</option>
                                <option value="1"> <200$ </option>
                                <option value="2"> 200$ - 1000$</option>
                                <option value="3"> >1000$ </option>
                            </select>
                        </div>
                        <!--<div class="filter-item">-->
                            <!--<label>&nbsp;</label>-->
                            <!--<div class="select-container x-small">-->
                                <!--<select class="browser-default custom-select">-->
                                    <!--<option selected>To</option>-->
                                    <!--<option value="0.99">0.99</option>-->
                                    <!--<option value="1.99">1.99</option>-->
                                    <!--<option value="2.99">2.99</option>-->
                                    <!--<option value="5.99">5.99</option>-->
                                    <!--<option value="10.99">10.99</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="filter-item">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </div>

                        <div class="filter-item">
                            <label>&nbsp; </label>
                            <!--<input class="go" type="submit" value="Search">-->
                            <button class="search"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
        <div class="clear"></div>
        <div class="hot-disk">
            <div class="container">
                <div class="list-hot-disk">
                    <div class="row text-center">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="http://image.phimmoi.net/film/1018/poster.medium.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                    </div>
                                </div>
                                <div class="title">
                                    <a href="#" class="hidden-link">
                                        TRANSFORMERS: AGE OF...
                                    </a>
                                </div>
                                <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://photo-resize-zmp3.zadn.vn/w240h240_jpeg/cover/9/3/5/f/935f82d0a14506cbe42cde70aaf78cee.jpg"
                                         alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="title">
                                    <a href="#" class="hidden-link">
                                        DDU-DU DDU-DU (JP Ver.)
                                    </a>
                                </div>
                                <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 15.00$</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="https://pbs.twimg.com/media/Dp4ID1aU8AAtFel.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="title">
                                    <a href="#" class="hidden-link">
                                        Sorry
                                    </a>
                                </div>
                                <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-strong">
                                    <img class="card-img-top img-fluid"
                                         src="https://d2tml28x3t0b85.cloudfront.net/tracks/artwork/23935a003d5611e6934f63ca4434b432/258e8dc03d5611e6b5b241a819b52d27-Banner.png"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">

                                    </div>
                                </div>
                                <div class="title">
                                    <a href="#" class="hidden-link">
                                        Alone remix
                                    </a>
                                </div>
                                <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="http://image.phimmoi.net/film/4325/poster.medium.jpg"
                                         alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">

                                    </div>
                                </div>
                                <div class="title">
                                    <a href="#" class="hidden-link">
                                        JOHN WICK: CHAPTER 2
                                    </a>
                                </div>
                                <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 12.00$</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid"
                                         src="http://image.phimmoi.net/film/2871/poster.medium.jpg"
                                         alt="">
                                    <div class="mask flex-center waves-effect waves-light">

                                    </div>
                                </div>
                                <div class="title">
                                    <a href="#" class="hidden-link">
                                        Steve Jobs
                                    </a>
                                </div>
                                <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-bottom clearfix">
                    <div class="page-number">
                        <a href="#" class="button prev "><i class="fas fa-angle-double-left"></i></a>
                        &nbsp;
                        <strong>1</strong>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">...</a>
                        &nbsp;
                        <a href="#" class="button next"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--&#45;&#45;Modal login&#45;&#45;-->

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-header blue-gradient">
                        <h3 class="modal-title"><i class="fa fa-lock" id="loginModalLabel"></i> Login:</h3>
                    </div>

                    <button type="button" id="btn-show-modal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="loginForm" name="login-form">
                        <div class="form-inline">
                            <i class="fa fa-envelope prefix"></i>
                            <label for="loginInputEmail">Email address</label>
                            <input type="text" name="email" class="form-control" id="loginInputEmail"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-inline">
                            <i class="fa fa-lock prefix"></i>
                            <label for="loginInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="loginInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="Check">
                            <label class="form-check-label" for="Check">Remember me</label>
                        </div>
                        <div class="modal-footer">
                            <div class="options">
                                <span class="grey-text">Not a member? </span><a href="#" data-toggle="modal" data-target="#registerModal">Sign Up</a>
                                <span class="grey-text">Forgot </span><a href="#">Password?</a>
                            </div>
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="btn-submit" value="submit">Sign In</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- -&#45;&#45;Modal register-&#45;&#45;-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-header blue-gradient ">
                        <h3 class="modal-title"><i class="fa fa-user" id="registerModalLabel"></i> Register:</h3>
                    </div>
                    <button type="button" id="btn-show-modal2" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="registerForm" name="register-form">
                        <div class="form-inline">
                            <i class="fa fa-user prefix"></i>
                            <label for="registerInputusername">Username</label>
                            <input type="text" name="userName" class="form-control" id="registerInputusername"
                                   aria-describedby="emailHelp" placeholder="Username">
                        </div>

                        <div class="form-inline">
                            <i class="fas fa-phone-square"></i>
                            <label for="registerInputPhone">Phone</label>
                            <input type="text" name="phone" class="form-control" id="registerInputPhone"
                                   placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-address-card"></i>
                            <label for="registerInputAddress">Address</label>
                            <textarea name="address" id="registerInputAddress" cols="50" rows="5"></textarea>
                        </div>
                        <div class="form-inline">
                            <i class="fas fa-address-card"></i>
                            <label for="registerInputAvatar">Avatar</label>
                            <input type="text" name="avatar" class="form-control" id="registerInputAvatar"
                                   placeholder="Avatar">
                        </div>
                        <div class="form-inline">
                            <i class="fa fa-envelope prefix"></i>
                            <label for="InputEmail2">Email address</label>
                            <input type="email" name="email" class="form-control" id="InputEmail2"
                                   aria-describedby="email2" placeholder="Enter email">
                            <small id="email2" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-inline">
                            <i class="fa fa-lock prefix"></i>
                            <label for="InputPassword2">Password</label>
                            <input type="password" name="password" class="form-control" id="InputPassword2"
                                   placeholder="Password">
                        </div>

                        <div class="form-inline">
                            <i class="far fa-calendar-alt"></i>
                            <label for="inputBirthday">Birthday</label>
                            <input type="date" class="form-group" id="inputBirthday" name="birthday">
                        </div>

                        <div class="form-inline">
                            <label>&nbsp;</label>
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="btn-Submit" value="submit">Sign Up</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="footer">
        <a class="pagetop" href="#header" style="display: block; position: fixed; bottom: 10px;">
            <i class="fas fa-arrow-circle-up fa-2x"></i>
            <i class="fas fa-envelope fa-2x"></i>
            <i class="fas fa-phone fa-2x animated"></i>
        </a>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Connect With Us</h4>
                        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <div class="links">
                            <ul class="list-unstyled">
                                <li class="fb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                  title="Like Us on FB">
                                        <i class="fab fa-facebook fa-2x"></i><span class="ml-2">Facebook</span></a></li>
                                <li class="inst"><a class="d-flex align-items-center pl-0" href="#"
                                                    title="Follow Us on Inst" target="_blank">
                                        <i class="fab fa-instagram fa-2x"></i><span class="ml-2">Instagram</span></a></li>
                                <li class="ytb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                   title="Subcribe Us on YTB">
                                        <i class="fab fa-youtube fa-2x"></i><span class="ml-2">Youtube</span></a></li>
                                <li class="email"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                     title=" ">
                                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span
                                                class="ml-2">Email</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h4>Support</h4>
                        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <ul class="list-unstyled">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Leave Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>Privacy</h4>
                        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <ul class="list-unstyled">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Of Service</a></li>
                            <li><a href="#">Supplier Code of Conduct</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <img src="/img/logo2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="pull purple-gradient">
            <p style="color: white">Copyright © 2019 Rhythm House. All rights reserved.</p>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0942d7e6005a95"  ></script>-->
</body>
</html>