<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm House</title>
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Hammersmith+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div id="header">
    <nav class="navbar navbar-expand-sm fixed-top purple-gradient">
        <a class="navbar-brand logo" href="/client/home"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="menu">
                <ul class=" nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/client/home"><i class="fas fa-home fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/disk" id="disk">Disk Music</a>
                        <ul class="item-menu">
                            <li><a href="">Just In</a></li>
                            <li><a href="">Best Seller</a></li>
                            <li><a href="">Clearance</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/ticket" id="ticket">Ticket Liveshow</a>
                        <ul class="item-menu">
                            <li><a href="">Just In</a></li>
                            <li><a href="">Best Seller</a></li>
                            <li><a href="">Clearance</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/magazine" id="magazine">Magazine</a>

                        <ul class="item-menu">
                            <li><a  href="">Just In</a></li>
                            <li><a  href="">Best Seller</a></li>
                            <li><a href="">Clearance</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/disk" id="contest">Contest Music</a>
                        <ul class="item-menu">
                            <li><a href="">Just In</a></li>
                            <li><a href="">Best Seller</a></li>
                            <li><a href="">Clearance</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/client/customer" id="customer"><i class="fas fa-user-circle"></i></a>
                        <ul class="item-menu">
                            <li><a class=" register nav-link" href="#" data-toggle="modal" data-target="#registerModal">Sign
                                    In</a></li>
                            <li><a class="login nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign
                                    Up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!--nav end-->
</div> <!--header end-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                 src="https://justinbiebergames.files.wordpress.com/2011/12/justinbiebergames.jpg"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://downtownelpaso.com/wp-content/uploads/2018/06/banner-downtown-crescendo-noclick.jpg"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://static.meraevents.com/content/eventbanner/165215/BANNER1542019010pXbOB.png"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> <!--banner end-->
<div class="content">
    <div class="content">
        <!--CD-->
        <div class="hot-disk">
            <div class="container">
                <h2 class="title-content animated slideInLeft slow"> CD Album <a class="" href="/client/CD">View more<i class="fas fa-angle-double-right ml-2"></i></a>
                </h2>
                <div class="list-hot-disk">
                    <div class="row text-center">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://pbs.twimg.com/media/Dp4ID1aU8AAtFel.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Sorry</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Sorry</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://f.ptcdn.info/970/023/000/1412026068-Maroon5VDe-o.png" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">V</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">V - Maroon5</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 150$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://fanart.tv/fanart/music/301b45a4-b8b9-410e-8344-4b4eaf96691a/albumcover/silence-5c229658a3eb7.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Silence</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Silence</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-strong">
                                    <img class="card-img-top img-fluid" src="https://d2tml28x3t0b85.cloudfront.net/tracks/artwork/23935a003d5611e6934f63ca4434b432/258e8dc03d5611e6b5b241a819b52d27-Banner.png" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Alone</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Alone</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://dailytrojan.com/wp-content/uploads/2015/11/web-beiber.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Purpose world tour 2016</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Purpose world tour 2016</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://d3us2i0tqwa7m7.cloudfront.net/pulses/18765702693610000/1481497028993_res_original.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Love on me</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Love On Me</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--hot-disk-->
        <!--DVD-->
        <div class="hot-disk">
            <div class="container">
                <h2 class="title-content animated slideInLeft slow"> DVD Album <a class="" href="/client/DVD">View more<i class="fas fa-angle-double-right ml-2"></i></a>
                </h2>
                <div class="list-hot-disk">
                    <div class="row text-center">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://image.phimmoi.net/film/6375/poster.medium.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">INCREDIBLES 2</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">INCREDIBLES 2</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://image.phimmoi.net/film/7064/poster.medium.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">NUN</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">NUN</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 150$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://image.phimmoi.net/film/7070/poster.medium.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;"> PREDATOR</p>
                                    </div>
                                </div>
                                <h6 class="name-disk"> PREDATOR</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-strong">
                                    <img class="card-img-top img-fluid" src="http://image.phimmoi.net/film/3519/poster.medium.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;"> CREED</p>
                                    </div>
                                </div>
                                <h6 class="name-disk"> CREED</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://image.phimmoi.net/film/6938/poster.medium.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">  ANT-MAN AND THE WASP</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">  ANT-MAN AND THE WASP</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://image.phimmoi.net/film/4325/poster.medium.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">   JOHN WICK: CHAPTER 2</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">   JOHN WICK: CHAPTER 2</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--hot-disk-->
        <!--book-->
        <div class="hot-disk">
            <div class="container">
                <h2 class="title-content animated slideInLeft slow"> Books <a class="" href="/client/book">View more<i class="fas fa-angle-double-right ml-2"></i></a>
                </h2>
                <div class="list-hot-disk">
                    <div class="row text-center">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://www.vinabook.com/images/thumbnails/product/240x/305689_p82765mbatrc.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Cách Mạng Công Nghệ 4.0</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Cách Mạng Công Nghệ 4.0</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://www.vinabook.com/images/thumbnails/product/240x/228637_p71032mbiatruoc.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">  Đắc Nhân Tâm</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">  Đắc Nhân Tâm</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 150$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://www.vinabook.com/images/thumbnails/product/240x/246166_p73565mbiatruoc.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">  Lối Sống Tối Giản Của Người Nhật</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">  Lối Sống Tối Giản Của Người Nhật</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-strong">
                                    <img class="card-img-top img-fluid" src="https://www.vinabook.com/images/thumbnails/product/240x/278742_p77977mimg729.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">    Cà Phê Cùng Tony</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">    Cà Phê Cùng Tony</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://www.vinabook.com/images/thumbnails/product/240x/272013_p77177mimg568.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">   Nhà Giả Kim</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">    Nhà Giả Kim</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://downloadsach.com/wp-content/uploads/2018/01/sach-neu-chi-con-mot-ngay-de-song-206x300.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">   Nếu Chỉ Còn Một Ngày Để Sống</p>
                                    </div>
                            </div>
                            <h6 class="name-disk">  Nếu Chỉ Còn Một Ngày Để Sống</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--hot-disk-->
        <!--Magezine-->
        <div class="hot-disk">
            <div class="container">
                <h2 class="title-content animated slideInLeft slow"> Magazine <a class="" href="/client/magazine">View more<i class="fas fa-angle-double-right ml-2"></i></a>
                </h2>
                <div class="list-hot-disk">
                    <div class="row text-center">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://1.bp.blogspot.com/-8dfw784o700/WK2qIQi8mSI/AAAAAAAAwdc/pM6Y-epJFiEZkQPsfmGri70r4WjPUAUNACLcB/s1600/EXO-Chen-3.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">Tạp Chí Âm Nhạc</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">Tạp Chí Âm Nhạc</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://vtimes.com.au/images/stories/articles/718_cr_51d20aef9acde.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;"> Tạp Chí Âm Nhạc  </p>
                                    </div>
                                </div>
                                <h6 class="name-disk">   Tạp Chí Âm Nhạc</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 150$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://tapchishowbiz.vn/uploads/images/Picture/images/17155914_1244409558946141_1411201770567527393_n.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">  Tạp Chí Âm Nhạc</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">   Tạp Chí Âm Nhạc</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-strong">
                                    <img class="card-img-top img-fluid" src="https://tapchishowbiz.vn/uploads/images/Picture/images/cau%20chuyen%20am%20nhac%203.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">   Tạp Chí Âm Nhạc</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">   Tạp Chí Âm Nhạc</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="https://tapchishowbiz.vn/uploads/images/Picture/images/17361977_1251436268243470_4390529230173679008_n.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">   Tạp Chí Âm Nhạc</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">   Tạp Chí Âm Nhạc</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-fluid" src="http://inbaobigiarehanoi.com/wp-content/uploads/2017/11/in-tap-chi-bao.jpg" alt="Purpose World">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p style="color: cyan;">   Tạp Chí Âm Nhạc</p>
                                    </div>
                                </div>
                                <h6 class="name-disk">   Tạp Chí Âm Nhạc</h6>
                                <h6 class="red-text"><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--hot-disk-->

    <div class="hot-ticket">
        <h2 class="wow slideInLeft slow">New Liveshow</h2>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-thumbnail"
                             src="https://znews-photo.zadn.vn/w660/Uploaded/rdsis/2013_09_27/jus1.jpg" alt="Card image">
                        <!--<div class="card-img-overlay">-->
                            <!--<p class="card-text"></p>-->
                        <!--</div>-->
                        <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-thumbnail"
                             src="https://assets.capitalfm.com/2018/03/kygos-london-tour-date-1516965641.png"
                             alt="Card image">

                        <!--<div class="card-img-overlay">-->
                            <!--<p class="card-text"></p>-->
                        <!--</div>-->
                        <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-thumbnail"
                             src="https://d1w5e52g85ucd3.cloudfront.net/static/images/external/img/liv/5135/2/flyer/dj-tay-james.jpg"
                             alt="Card image">
                        <!--<div class="card-img-overlay">-->
                            <!--<p class="card-text"></p>-->
                        <!--</div>-->
                        <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-thumbnail"
                             src="https://i.axs.com/2018/02/32782-optimized_5a7a16de77558.jpg" alt="Card image">
                        <!--<div class="card-img-overlay">-->
                            <!--<p class="card-text"></p>-->
                        <!--</div>-->
                        <p><a href="#" class=""><i class="fas fa-shopping-cart"></i></a> 120$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hot-contest">
        <h2 class="wow slideInDown slow">Famous Contest</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img class="wow slideInLeft slow" src="https://i.ytimg.com/vi/PHq-OEZM6Ww/maxresdefault.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h5 class="wow slideInRight slow">Award 5000000$</h5>
                    <h5 class="wow slideInUp slow">You have chances to become the faumoused </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <a class="pagetop" href="#header" style="display: block; position: fixed; bottom: 10px;">
        <i class="fas fa-arrow-circle-up fa-2x"></i>
        <i class="fas fa-envelope fa-2x"></i>
        <i class="fas fa-phone fa-2x animated"></i>
    </a>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Connect With Us</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <div class="links">
                        <ul class="list-unstyled">
                            <li class="fb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                              title="Like Us on FB">
                                    <i class="fab fa-facebook fa-2x"></i><span class="ml-2">Facebook</span></a></li>
                            <li class="inst"><a class="d-flex align-items-center pl-0" href="#"
                                                title="Follow Us on Inst" target="_blank">
                                    <i class="fab fa-instagram fa-2x"></i><span class="ml-2">Instagram</span></a></li>
                            <li class="ytb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                               title="Subcribe Us on YTB">
                                    <i class="fab fa-youtube fa-2x"></i><span class="ml-2">Youtube</span></a></li>
                            <li class="email"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                 title=" ">
                                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span
                                            class="ml-2">Email</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4>Support</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Leave Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Privacy</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Service</a></li>
                        <li><a href="#">Supplier Code of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <img src="/img/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="pull purple-gradient">
        <p style="color: white">Copyright © 2019 Rhythm House. All rights reserved.</p>
    </div>
</div> <!--footer end-->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0942d7e6005a95"  ></script>-->
<script src="/js/myjs/home.js"></script>
</div>
</body>
</html>
