<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm House</title>
    <!--<link href="../node_modules/bootstrap/dist/css/bootstrap.css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link href="/vendor/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/css/mdb.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
</head>
<body >
<div id="header">
    <nav class="navbar navbar-expand-sm fixed-top ">
        <a class="navbar-brand logo" href="/client/home"><img src="/resources/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="menu">
                <ul class=" nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/client/home"><i class="fas fa-home "></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle"   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Disk
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/client/disk" >CD & DVD</a>
                            <a class="dropdown-item" href="/client/movie" >Movie</a>
                            <a class="dropdown-item" href="/client/band" >Band</a>
                            <a class="dropdown-item" href="/client/soloperformer" >Solo</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/ticket" id="ticket">Liveshow</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/client/magazine">
                            Magazine
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/client/book">
                            Book
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/cart" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i></a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<div class="form-inline">-->
                            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                            <!--<a href="#" class="nav-link" id="search">-->
                                <!--<button class="btn-search"><i class="fas fa-search"></i></button>-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle"   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registerModal" >Sign up</a>
                            <a class="dropdown-item" href="#"   data-toggle="modal" data-target="#loginModal">Sing in</a>

                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav> <!--nav end-->
</div> <!--header end-->
<div class="searchby d-block w-100">
    <div class="input-group col-lg-offset-3 col-lg-offset-3 col-lg-6 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
        <input class="bv-productsearch-inputfield form-control" type="text" placeholder="CD, DVD, Book, Liveshow,..." value="">
        <span class="input-group-btn">
            <button class="bv-productsearch-searchbutton btn ">
                <div class="bv-productsearch-seachbutton-title">
                    <i class="fas fa-search "></i>
                    <span>Search</span>
                </div>
            </button>
        </span>
    </div>
</div>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                     src="/resources/img/slide1.png"
                     alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="/resources/img/slide2.jpeg"
                     alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="/resources/img/slide3.jpeg"
                     alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> <!--banner end-->
</div>



<div class="content">
    <div class="hot-disk">
        <div class="container">
            <h2 class="title-content animated slideInLeft slow">TOP SELLERS

            </h2>
            <hr>
            <div class="carousel-nav-container">
                <nav class="carousel-nav">
                    <a class="carousel-link btn" href="/client/CD">CD</a>
                    <a class="carousel-link btn " href="/client/DVD">DVD</a>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="list-hot-disk">
                <div class="row text-center">



                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7020/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <a class="vieweye" href="/client/detail-product/"><i href="/client/detail-product" class="far fa-eye"></i></a>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>NGƯỜI NHỆN:VŨ TRỤ MỚI</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    90.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/8330/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>LƯU LẠC ĐỊA CẦU</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">4.2
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">12 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    70.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-strong">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7931/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>ẢNH</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">4.0
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    70.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7090/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>AQUAMAN: ĐẾ VƯƠNG ATLANTIS</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">4.6
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">14 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    80.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h2 class="title-content animated slideInLeft slow">NEW RELEASES

            </h2>
            <hr>
            <div class="carousel-nav-container">
                <nav class="carousel-nav">
                    <a class="carousel-link btn" href="/client/CD">CD</a>
                    <a class="carousel-link btn " href="/client/DVD">DVD</a>

                </nav>
                <div class="clear"></div>
            </div>
            <div class="list-hot-disk">
                <div class="row text-center">

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7845/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <a class="vieweye" href="/client/new-releases-detail"><i class="fas fa-eye"></i></a>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>DIỆP VẤN NGOẠI TRUYỆN: TRƯƠNG... </h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">6 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    60.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7294/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>DỊ NHÂN THẾ HỆ MỚI</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">4 Ratings &amp; 2 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    60.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7851/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>ĐẲNG CẤP THÚ CƯNG 2</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">8 Ratings &amp; 4 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    70.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-strong">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/6906/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>NGƯỜI NHỆN: XA NHÀ</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">4.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">10 Ratings &amp; 5 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    100.000 ₫
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h2 class="title-content animated slideInLeft slow">CLEARANCE

            </h2>
            <hr>
            <div class="carousel-nav-container">
                <nav class="carousel-nav">
                    <a class="carousel-link btn " href="/client/clearance-cd">CD</a>
                    <a class="carousel-link btn " href="/client/clearance-dvd">DVD</a>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="list-hot-disk">
                <div class="row text-center">

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/8328/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>TAY ĐẤM HUYỀN THOẠI 2</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">15 Ratings &amp; 2 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    70.000 ₫
                                    <small class="old-price">
                                        55.000 ₫
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7256/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>KẸP HẠT DẺ VÀ BỐN VƯƠNG QUỐC</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">13 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    70.000 ₫
                                    <small class="old-price">
                                        50.000 ₫
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-strong">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/8307/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>KẺ GIẢ MẠO</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.5
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">4 Ratings &amp; 2 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    60.000 ₫
                                    <small class="old-price">
                                        45.000 ₫
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="view overlay zoom rgba-red-light">
                                <img class="card-img-top img-fluid"
                                     src="http://image.phimmoi.net/film/7071/poster.medium.jpg"
                                     alt="">
                                <div class="mask flex-center waves-effect waves-light">
                                    <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="prod-info">
                                <a href="#!" class="txt-muted"><h4>KẺ CẮP GIÁNG SINH</h4></a>
                                <div class="m-b-10">
                                    <label class="label label-success">3.0
                                        <i class="fa fa-star"></i>
                                    </label>
                                    <a class="text-muted f-w-600">7 Ratings &amp; 3 Reviews</a>
                                </div>
                                <span class="prod-price">
                                    60.000 ₫
                                    <small class="old-price">
                                        40.000 ₫
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    <!--hot-disk-->

            <div class="hot-ticket">
                <h2 class="wow slideInLeft slow">NEW LIVESHOW </h2>
                <hr>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://znews-photo.zadn.vn/w660/Uploaded/rdsis/2013_09_27/jus1.jpg" alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Justin Bieber</h4></a>
                                    <span class="prod-price">
                                        100.000 ₫
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://assets.capitalfm.com/2018/03/kygos-london-tour-date-1516965641.png"
                                         alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <a class="vieweye" href="/client/detail-liveshow"><i class="fas fa-eye"></i></a>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Kygo</h4></a>
                                    <span class="prod-price">
                                        70.000 ₫
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://d1w5e52g85ucd3.cloudfront.net/static/images/external/img/liv/5135/2/flyer/dj-tay-james.jpg"
                                         alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Dj Tay James</h4></a>
                                    <span class="prod-price">
                                        70.000 ₫
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://i.axs.com/2018/02/32782-optimized_5a7a16de77558.jpg" alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>BillBoard</h4></a>
                                    <span class="prod-price">
                                        120.000 ₫
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header blue-gradient">
                    <h3 class="modal-title"><i class="fa fa-lock" id="loginModalLabel"></i> Login:</h3>
                </div>

                <button type="button" id="btn-show-modal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="loginForm" name="login-form">
                    <div class="form-inline">
                        <i class="fa fa-envelope prefix"></i> &nbsp;
                        <label for="loginInputEmail">Email address</label>
                        <input type="text" name="email" class="form-control" id="loginInputEmail"
                               aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-inline">
                        <i class="fa fa-lock prefix"></i>&nbsp;
                        <label for="loginInputPassword1">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="password" name="password" class="form-control" id="loginInputPassword1"
                               placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="Check">
                        <label class="form-check-label" for="Check">Remember me</label>
                    </div>
                    <div class="modal-footer">
                        <div class="options">
                            <span class="grey-text">Not a member? </span><a href="#" data-toggle="modal" data-target="#registerModal">Sign Up</a>
                            <span class="grey-text">Forgot </span><a href="#">Password?</a>
                        </div>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btn-submit" value="submit">Sign In</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- -Modal register--->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header blue-gradient ">
                    <h3 class="modal-title"><i class="fa fa-user" id="registerModalLabel"></i> Register:</h3>
                </div>
                <button type="button" id="btn-show-modal2" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/customer/save" id="registerForm" name="register-form" method="post"  enctype="multipart/form-data">
                    <div class="form-inline">
                        <i class="fa fa-user prefix"></i>&nbsp;
                        <label for="registerInputusername">Username</label>
                        <input type="text" name="userName" class="form-control" id="registerInputusername"
                               aria-describedby="emailHelp" placeholder="Username">&nbsp;&nbsp;
                    </div>

                    <div class="form-inline">
                        <i class="fas fa-phone-square"></i>&nbsp;
                        <label for="registerInputPhone">Phone</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" name="phone" class="form-control" id="registerInputPhone"
                               placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <i class="fas fa-address-card"></i>&nbsp;
                        <label for="registerInputAddress">Address</label>
                        <textarea name="address" id="registerInputAddress" cols="50" rows="5"></textarea>
                    </div>
                    <div class="form-inline">
                        <i class="fas fa-address-card"></i>&nbsp;
                        <label for="registerInputAvatar">Avatar</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="file" name="avatar" class="form-control" id="registerInputAvatar"
                               placeholder="Avatar">
                    </div>
                    <div class="form-inline">
                        <i class="fa fa-envelope prefix"></i>&nbsp;
                        <label for="InputEmail2">Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="email" name="email" class="form-control" id="InputEmail2"
                               aria-describedby="email2" placeholder="Enter email">
                        <small id="email2" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-inline">
                        <i class="fa fa-lock prefix"></i>&nbsp;
                        <label for="InputPassword2">Password</label>
                        <input type="password" name="password" class="form-control" id="InputPassword2"
                               placeholder="Password">
                    </div>

                    <div class="form-inline">
                        <i class="far fa-calendar-alt"></i>&nbsp;
                        <label for="inputBirthday">Birthday</label>&nbsp;&nbsp;&nbsp;
                        <input type="date" class="form-group" id="inputBirthday" name="birthday">
                    </div>

                    <div class="form-inline">
                        <label>&nbsp;</label>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btn-Submit" value="submit">Sign Up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="boxchat">
    <div  id="chat-head">
        Trò chuyện với chúng tôi
        <span id="closechat">&times;</span>
    </div>
    <div id="chat-message">
    </div>
    <div id="chat-area">
        <form>
            <input placeholder="Nhập tin nhắn" >

            <img src="https://cdn2.iconfinder.com/data/icons/mini-icon-set-communication/91/Communication_10-512.png">
        </form>
    </div>
</div>
<div id="footer">
    <div class="ontop">
        <i class="far fa-arrow-alt-circle-up fa-2x"></i>
    </div>
    <div class="chatnow">
        <div id="openchat"><img src="https://icons-for-free.com/free-icons/png/512/1891020.png" alt="" style="width:65px;"></div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Connect With Us</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <div class="links">
                        <ul class="list-unstyled">
                            <li class="fb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                              title="Like Us on FB">
                                    <i class="fab fa-facebook fa-2x"></i><span class="ml-2">Facebook</span></a></li>
                            <li class="inst"><a class="d-flex align-items-center pl-0" href="#"
                                                title="Follow Us on Inst" target="_blank">
                                    <i class="fab fa-instagram fa-2x"></i><span class="ml-2">Instagram</span></a></li>
                            <li class="ytb"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                               title="Subcribe Us on YTB">
                                    <i class="fab fa-youtube fa-2x"></i><span class="ml-2">Youtube</span></a></li>
                            <li class="email"><a class="d-flex align-items-center pl-0" href="#" target="_blank"
                                                 title=" ">
                                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><span
                                            class="ml-2">Email</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4>Support</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="/client/contact">Contact Us</a></li>
                        <li><a href="/client/about">About us</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4>Privacy</h4>
                    <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Service</a></li>
                        <li><a href="#">Supplier Code of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="/resources/img/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p style="color: white">Copyright © 2019 Rhythm House. All rights reserved.</p>
    </div>
</div> <!--footer end-->

<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/mdb.min.js"></script>
<script src="/vendor/js/jquery.validate.min.js"></script>
<script src="/resources/js/validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/resources/js/myjs.js"></script>

</body>
</html>
