<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liveshow</title>

    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/mdb.min.css">
    <!-- Font Awesome -->

    <link type="text/html" rel="stylesheet" href="/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="/css/liveshow.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<% include include/navbar.ejs%>



<div class="main">
    <div class="inner-page container">
        <% include include/search.ejs%>
        <section class="main-clearfix">
            <h1 class="page-title">Liveshow</h1>
            <hr>
            <div class="just-in-box ">
                <div class="just-in-tab1 row">
                    <div class="filter-item col-md-2 col-3">
                        <div class="select-container">
                            <select class="browser-default custom-select">
                                <option selected>Hot</option>
                                <option value="4">Band</option>
                                <option value="5">Solo performer</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-item col-md-2 col-3">
                        <select class="browser-default custom-select">
                            <option selected>Price</option>
                            <option value="1"> 0$ - 5$ </option>
                            <option value="2"> 5$ - 10$</option>
                            <option value="3"> > 10$</option>
                        </select>
                    </div>
                    <div class="filter-item col-md-3 col-3">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="filter-item col-1">
                        <label>&nbsp; </label>
                        <button class="search"><i class="fas fa-search"> </i></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
    <div class="hot-disk">
        <div class="container">
            <div class="hot-ticket">
                <h2 class="wow slideInLeft slow">Hot Liveshow</h2>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://znews-photo.zadn.vn/w660/Uploaded/rdsis/2013_09_27/jus1.jpg" alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Justin Bieber</h4></a>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 10
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://assets.capitalfm.com/2018/03/kygos-london-tour-date-1516965641.png"
                                         alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <a class="vieweye" href="/client/detail-liveshow"><i class="fas fa-eye"></i></a>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Kygo</h4></a>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 10
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://d1w5e52g85ucd3.cloudfront.net/static/images/external/img/liv/5135/2/flyer/dj-tay-james.jpg"
                                         alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>Dj Tay James</h4></a>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 7
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card">
                                <div class="view overlay zoom rgba-red-light">
                                    <img class="card-img-top img-thumbnail"
                                         src="https://i.axs.com/2018/02/32782-optimized_5a7a16de77558.jpg" alt="Card image">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <button type="button" class="btn btn-success btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <a href="#!" class="txt-muted"><h4>BillBoard</h4></a>
                                    <span class="prod-price">
                                        <i class="fas fa-dollar-sign"></i> 12
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5"></div>
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="e-product-list_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="e-product-list_previous">
                                <a href="#" aria-controls="e-product-list" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="e-product-list" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="e-product-list" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="e-product-list" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                            </li>
                            <li class="paginate_button page-item next" id="e-product-list_next">
                                <a href="#" aria-controls="e-product-list" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--sign up-sign in-->
<% include include/reg-log.ejs %>


<!--Include Footer-->
<% include include/footer.ejs%>


<script src="/vendor/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/mdb.min.js"></script>
<script src="/vendor/js/jquery.validate.min.js"></script>
<script src="/resources/js/validate.js"></script>
<script src="/resources/js/myjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c0942d7e6005a95"  ></script>-->
</body>
</html>