<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pay</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/mdb.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/pay.css">
</head>
<body>
<% include include/navbar.ejs%>
<div class="content">
    <div class="container">
        <form method="post" action="" name="checkout_form" id="checkout_form" enctype="multipart/form-data"
              class="form-horizontal">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Delivery address
                            </h3>
                        </div>
                        <div class="panel-body"> <!-- Apply for VN -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="row">
                                            <label class="control-label col-sm-2" for="input-firstname">Full name</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="firstname" id="input-firstname" value=""
                                                       placeholder="Enter name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="row">
                                            <label class="control-label col-sm-2" for="input-email">Email</label>
                                            <div class="col-sm-8">
                                                <input type="email" name="email" id="input-email" value=""
                                                       placeholder="Enter email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="row">
                                            <label class="control-label col-sm-2" for="input-country">Country</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="country" id="input-country" value=""
                                                       placeholder="Enter country" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="row">
                                            <label class="control-label col-sm-2" for="input-city">City</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="city" id="input-city" value=""
                                                       placeholder="Enter city" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="row">
                                            <label class="control-label col-sm-2" for="input-telephone">Phone</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="telephone" id="input-telephone" value=""
                                                       placeholder="Enter telephone" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="row">
                                            <label class="control-label col-sm-2" for="input-address">Address</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="address" id="input-address" value=""
                                                       placeholder="Enter address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="input-zoneid" id="label-zone">Message
                                </label>
                                <div class="col-sm-10">
                                    <textarea name="comment" id="input-comment" rows="3" class="form-control"
                                              placeholder=""></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="is-delivery-address">
                                        <label class="form-check-label" for="is-delivery-address">
                                            <strong>The delivery address and payment are the same</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">

                                    Payment methods
                                </h3>
                            </div>
                            <div class="panel-body" id="form_payment_method">
                                <div class="group">
                                    <div class="adr-oms radio select-method">
                                        <input type="radio" id="payment-method-bank_transfer" name="payment_method"
                                               value="bank_transfer">
                                        <label for="payment-method-bank_transfer">
                                            <div class="adr-oms payment-method">

                                                <div class="description">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="is-delivery-transfer">
                                                        <label class="form-check-label" for="is-delivery-transfer">
                                                            <strong> Transfer</strong>
                                                        </label>
                                                    </div>
                                                    <div class="subtitle" style="margin-left: 15px;">Use an ATM card or Internet Banking service to conduct a transfer to us</div>

                                                    <div class="tkz-selection-info"></div>
                                                </div>
                                            </div>
                                        </label>
                                        <!--<div class="payment-method-toggle box-installment installment-disabled"-->
                                             <!--id="payment-method-info-bank_transfer" style="display: none;">-->
                                            <!--<div class="disabled-cod-body">-->
                                                <!--<p>Thông tin ngân hàng Ngân hàng TMCP Ngoại thương Việt Nam - -->
                                                    <!--Vietcombank&nbsp;</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="adr-oms radio select-method">
                                        <input type="radio" id="payment-method-cod" name="payment_method" value="cod">
                                        <label for="payment-method-cod">
                                            <div class="adr-oms payment-method">

                                                <div class="description">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="is-delivery-cod">
                                                        <label class="form-check-label" for="is-delivery-cod">
                                                            <strong>Collect money at home (COD)</strong>
                                                        </label>
                                                    </div>
                                                    <div class="subtitle" style="margin-left: 15px;" >The customer pays in cash to the delivery staff when the product is delivered to the delivery address</div>
                                                    <div class="tkz-selection-info">

                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <!--<div class="panel-heading">-->
                                <div class="panel-title">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="is-delivery-request">
                                        <label class="form-check-label" for="is-delivery-request">
                                            <strong>Request to issue VAT invoice</strong>
                                        </label>
                                    </div>
                                </div>
                            <!--</div>-->
                            <!--<div class="panel-body" id="container-form-invoice" style="display: none;">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label col-md-2" for="input-taxcode">Mã số thuế</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="tax_code" id="input-taxcode" value=""-->
                                               <!--placeholder="Ví dụ: 398473094385" class="form-control">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label col-md-2" for="input-company">Tên công ty</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="company" id="input-company" value=""-->
                                               <!--placeholder="Ví dụ: Công ty Cổ phần ASIA" class="form-control">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label col-md-2" for="input-company-address">Địa chỉ công-->
                                        <!--ty</label>-->
                                    <!--<div class="col-sm-10">-->
                                        <!--<input type="text" name="company_address" id="input-company-address" value=""-->
                                               <!--placeholder="Ví dụ: 247 Cầu Giấy, Hà Nội, P. Dịch Vọng, Q. Cầu Giấy, TP. Hà Nội"-->
                                               <!--class="form-control">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<i>Lưu ý: Giá trị hóa đơn không bao gồm giá trị của Mã giảm giá</i>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">

                                  Order(2 product)
                                </h3>
                            </div>
                            <div class="panel-body">
                                <table class="adr-oms table table_order_items">
                                    <tbody id="orderItem">
                                    <tr class="group-type-1 item-child-0">
                                        <td>
                                            <div class="table_order_items-cell-thumbnail">
                                                <div class="thumbnail" style="width: fit-content;margin-left: 100px;">
                                                    <a target="_blank" rel="noopener"
                                                       href="https://photo-resize-zmp3.zadn.vn/w240h240_jpeg/cover/7/9/8/f/798f31114a9881399db28c1b0d5757ed.jpg"
                                                       title="resize">
                                                        <img src="https://photo-resize-zmp3.zadn.vn/w240h240_jpeg/cover/7/9/8/f/798f31114a9881399db28c1b0d5757ed.jpg"
                                                             alt="resize" width="84">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="table_order_items-cell-detail">
                                                <div class="table_order_items-cell-title" style="text-align: center;">
                                                    <div class="table_order_items_product_name">
                                                        <a target="_blank" rel="noopener" href="#" title="resize">
                                                            <span class="title" style="font-size: 16px;">resize</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table_order_items-cell-price"
                                                 style="text-align: center; font-size: 16px;">
                                                <div class="tt-price">50,000đ</div>
                                                <div class="quantity">x2</div>
                                                <div class="tt-price">100,000đ</div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Transport
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                    <span id="ajax-load-shipping-method">
                                        <div>
                                            <strong>Calculate later</strong>
                                        </div>
                                        <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="is-delivery-transport">
                                        <label class="form-check-label" for="is-delivery-transport">
                                           Shipping fee is charged when processing orders
                                        </label>
                                    </div>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">

                                    Use discount code
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span id="show_notice_coupon"></span>
                                        <div class="input-group">
                                            <input type="text" name="coupon" value="" placeholder="Enter the discount code"
                                                   id="input-coupon" class="form-control" style="height: 48px;">
                                            <span class="input-group-btn">
                                           <input class="btn btn-primary" type="button" value="Apply"
                                                  id="button-coupon" data-loading-text="Applying">
                                        </span>
                                        </div>
                                        <span id="load-input-hidden"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default" id="ajax-load-total">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="text-left" style="font-size: 16px;">Into money</td>
                                    <td class="text-right" style="font-size: 16px; font-weight: bold;">100,000đ</td>
                                </tr>
                                <tr>
                                    <td class="text-left" style="font-size: 16px;">Shipping fee is charged when processing orders</td>
                                    <td class="text-right" style="font-size: 16px; font-weight: bold;">0đ</td>
                                </tr>
                                <tr>
                                    <td class="text-left" style="font-size: 16px;">Total</td>
                                    <td class="text-right" style="color: #D60C0C; font-size: 16px; font-weight: bold;">
                                        100,000đ
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary pull-left" href="/client/cart" title="Back to the shopping cart">

                            Back to the shopping cart
                        </a>
                        <button class="btn btn-primary pull-right" type="button" id="submit_form_button"
                                onclick="$('form#checkout_form').submit();">Order

                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<!--sign up-sign in-->
<% include include/reg-log.ejs %>

<!--Include Footer-->
<% include include/footer.ejs%>
<script src="/vendor/js/jquery-3.3.1.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/mdb.min.js"></script>
<script src="/vendor/js/jquery.validate.min.js"></script>
<script src="/resources/js/validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/resources/js/myjs.js"></script>
</body>
</html>