
body {
    font-family: 'Roboto', sans-serif;
}


.content {
    padding-top: 100px;
    padding-bottom: 40px;
}




.border-Control {
    background-color: #FFF;
    width: 980px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


.reviews {
    background-color: #FFF;
    width: 950px;
    padding: 15px;
}

h2 {
    color: #3DB54A;
}


.searchby {
    padding-top: 120px;
    padding-bottom: 10px;
}
.input-group {
    position: relative;
    display: table;
}
.input-group .form-control {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    margin-top: 6px;
}
.bv-productsearch-inputfield {
    display: inline;
    font-size: 16px;
    height: 45px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    width: 1%;
    vertical-align: middle;
    display: table-cell;

}
.bv-productsearch-seachbutton-title {
    width: 70px;
}
.btn:hover {
    color: #373737;
    background: #3dac9a;
    border-color: #3dac9a;
}
.btn {
    background: #3dac9a;
    border-color: #3dac9a;
}



.error {
    color: red;
}

.logo img {
    width: 240px;
    padding-left: 80px;
}



.navbar-toggler-icon {
    color: white;
}


.nav-link {
    color: white;
}

.nav-item {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 30px;
}
.item-menu {
    padding-left: 0;
    border: 5px;
}

.vieweye {
    color: white;
}

.btn-search {
    background: none;
    color: white;
    border: none;
}

.menu ul li {
    display: block;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding-top: 0;
}
.menu ul li .register{
    font-size: 16px;
}
.menu ul li .login{
    font-size: 16px;
}
.menu ul li a:hover {
    color: gainsboro;
    opacity: 0.8;

}
.menu ul li > .item-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: #6f42c1;
    width: 100px;
}
.menu ul li:hover .item-menu {
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    color: white;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.menu ul li #dropdownMenuButton {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 20px;
    padding-top: 0px;
}
.dropdown-item:hover{
    background-color:#d8d7d4db;
}

.navbar {
    box-shadow: 5px 5px 5px black;
    width: 100%;
    background-image: url("/resources/img/background6.jpeg");
    background-size: cover;
}

#customer {
    color: white;
}

a:hover {
    text-decoration: none!important;
}

/*item*/
.prod-info {
    background: #fff;
    padding: 30px 0 20px;
}


.prod-info h4 {
    font-size: 20px;
    height: 50px;
    color: #404e67;
    margin-bottom: 10px;
}



.label {
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}

.label-success {
    background: -webkit-gradient(linear,left top,right top,from(#0ac282),to(#0df3a3));
    background: linear-gradient(to right,#0ac282,#0df3a3);
}

.prod-info .prod-price {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.prod-info .prod-price .old-price {
    color: #919aa3;
    text-decoration: line-through;
    font-size: 50%;
}



.btn.btn-icon {
    border-radius: 25%;
    width: 40px;
    line-height: 30px;
    height: 40px;
    padding: 3px;
    text-align: center;
}

.btn-success {
    background-color: #0ac282;
    border-color: #0ac282;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.btn-primary {
    background-color: #01a9ac;
    border-color: #01a9ac;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

hr {
    height: 2px;
}




.modal-footer button {
    height: 40px;
    color: black;
    width: 130px;
    font-size: 11px;
    text-align: center;
}

.form-inline  {
    padding-bottom: 15px;
}

.form-inline label {
    margin-right: 20px;
}

.modal-body .form-inline button {
    margin-left: 65px;
    color: black;
}
/*content*/
.content p {
    padding-top: 7px;
}
.title-content {
    text-align: left;
    padding-bottom: 5px;
    font-family: 'Hammersmith One', sans-serif;
}


.name-disk {
    padding-top: 2px;
}

#footer {
    padding-top: 10px;
}
.footer-top img {
    width: 200px;
}
.footer-top h4 {
    color: white;
    padding-top: 15px;
}
#footer li {
    margin: 5px;
}

.footer-top a {
    color: white;
}

.footer-top {
    background-image: url("/resources/img/background2.jpg");
    /*background-position: bottom;*/
    text-align: center;
}
.pagetop i {
    padding-right: 10px;
}
/*footer end*/
/* Responsive */


/*boxchat*/


.pull{
    background-size: cover;
    background-image: url("/resources/img/background1.jpeg");
    padding: 15px 0 4px;
    text-align: center;
    color: white;
}

.chatnow {
    border: 1px solid #9E9E9E;
    border-radius: 35px;
    position: fixed;
    bottom: 8px;
    right: 45px;
    background-color: white;
}
#chat-head {
    background-color:#31af91;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #9E9E9E;
}
#chat-message {
    height: 150px;
}
#chat-area {
    border-top: 1px solid #9E9E9E;
    background-color: #78929238;
}
#chat-area input {
    border: none;
    width: 180px;
    padding-bottom: 5px;
    margin-left: 10px;
}
#chat-area img {
    width: 50px;
}

#boxchat {
    border: 2px solid #9E9E9E;
    border-radius: 8px;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 45px;
    width: 270px;
    overflow: auto;
    background-color: white;

}
.ontop {
    display: none;
    bottom: 8%;
    right: 5px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    color: #3dac9a;
}
#closechat {
    color: #d9dfe0fa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right:10px;
}

#closechat:hover,
#closechat:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
hr {
    height: 2px;
}

