.list-CD .card{
    margin: 10px 10px;
    text-align: center;
}
.list-CD p {
    padding-top: 15px;
}
.select .nav {
    padding-left: 70px;
}
.dropdown-toggle {
    font-size: 25px;
}
#content {
    background-image: url("/img/background5.jpg");
    padding-bottom: 20px;
}
.page-number {
    float: right;
    padding-right: 150px;

}
.nav-search {
    padding: 15px 0;
    padding-left: 20px;
}
select {
    font-family: 'Boogaloo', cursive;
}