.content {
    padding-top: 120px;
    padding-bottom: 20px;
}

body {
    font-family: Roboto, sans-serif;
}
.navbar {
    box-shadow: 5px 5px 5px black;
}
.logo img {
    width: 200px;
    padding-left: 100px;
}
.navbar .nav-link {
    color: white;
}
.title {
    height: 50px;
}
.navbar .nav-item {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

#customer {
    color: white;
}
.item-menu {
    padding-left: 0;
    border: 5px;
}

.menu ul li .register{
    font-size: 16px;
}
.menu ul li .login{
    font-size: 16px;
}
.menu ul li {
    display: block;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    display: block;
    color: white;
}
.menu ul li a:hover {
    color: black;
    opacity: 0.8;
    box-shadow: 5px 5px 5px darkviolet;
}
.menu ul li > .item-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: #6f42c1;
    width: 100px;
}
.menu ul li:hover .item-menu {
    display: block;
}

.wrap {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.wrap .panel-left {
    display: inline-block;
    padding-right: 10%;
    vertical-align: top;
    width: 60%;
    line-height: 1.5;
    text-align: left;
}

.wrap .panel-right {
    text-align: left;
    display: inline-block;
    width: 20%;
    line-height: 1.5;
}
/*.pannel-right {*/
    /*width: 100%;*/
    /*padding-top: 40px;*/
    /*border-top: 1px solid #ccc;*/
/*}*/

.footer-top a {
    color: white;
}

#footer {
    padding-top: 10px;
}
#footer img {
    width: 200px;
}
#footer h4 {
    color: white;
    padding-top: 15px;
}
#footer li {
    margin: 5px;
}
.pull {
    padding: 15px 0 4px;
    text-align: center;
}
.footer-top {
    background-image: url("/resources/img/background2.jpg");
    background-position: bottom;
}
.pagetop i {
    padding-right: 10px;
}
/*footer end*/
