body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.navbar {
    box-shadow: 5px 5px 5px black;
}
.logo img {
    width: 200px;
    padding-left: 100px;
}
.nav-link {
    color: white;
}
.title {
    height: 50px;
}
.nav-item {
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.item-menu {
    padding-left: 0;
    border: 5px;
}
/*.item-menu li a{*/
    /*margin: 10px;*/
/*}*/

.menu ul li {
    display: block;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    display: block;
    color: white;
}
.menu ul li a:hover {
    color: black;
    opacity: 0.8;
    box-shadow: 5px 5px 5px darkviolet;
}
.menu ul li > .item-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: white;
    width: 100px;
}
.menu ul li:hover .item-menu {
    display: block;
}

#footer {
    padding-top: 10px;
}
#footer img {
    width: 200px;
}
#footer h4 {
    color: white;
    padding-top: 15px;
}
#footer li {
    margin: 5px;
}
.pull {
    padding: 15px 0 4px;
    text-align: center;
}
.footer-top {
    background-image: url("/img/background2.jpg");
    background-position: bottom;
}
.pagetop i {
    padding-right: 10px;
}



/**/
.main-clearfix .page-title {
    padding-top: 90px;
}

.nav a i {
    padding-right: 8px;
}

.navbar-brand i {
    padding-right: 8px;
    padding-left: 10px;
}


label{
    padding-top: 5px;
}


/*.nav-item {*/
/*padding-right: 20px;*/
/*}*/

a.register {
    color: rgb(234, 97, 27) ;
    border: 1px solid rgb(234, 97, 27);
    border-radius: 3px;
    font-weight: bold ;
}
a.login {
    color: rgb(234, 97, 27) ;
    border: 1px solid rgb(234, 97, 27);
    text-align: center;
    border-radius: 3px;
    font-weight: bold ;
}

/*.item-menu {*/
    /*padding-left: 0;*/
    /*border: 5px;*/
/*}*/
/*.item-menu li a{*/
    /*margin: 10px;*/
/*}*/
/*.menu ul li {*/
    /*text-align: center;*/
    /*display: block;*/
    /*position: relative;*/
/*}*/
/*.menu ul li a {*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*color: black;*/
/*}*/
/*.menu ul li a:hover {*/
    /*color: grey;*/
    /*opacity: 0.8;*/
/*}*/
/*.menu ul li > .item-menu {*/
    /*display: none;*/
    /*position: absolute;*/
    /*z-index: 999;*/
    /*background: white;*/
    /*width: 100px;*/
/*}*/
/*.menu ul li:hover .item-menu {*/
    /*display: block;*/
/*}*/


.just-in-tab1 .filter-item {
    display: inline-flex;
    padding-left: 10px;
}


.go{
    background: #00e765;
    color: white;
    width: 100px;
    height: 31px;
    border-radius: 7px;
}

/*.item a img {*/
    /*height: 150px;*/
    /*width: 150px;*/
/*}*/

/*.item {*/
    /*margin-top:20px ;*/
    /*float: left;*/
/*}*/

/*.clear {*/
    /*clear: both;*/
/*}*/


/*.redd {*/
    /*color: red;*/
/*}*/
.view-more {
    font-size: 15px;
}

.hidden-link{
    color: black;
    display: inline-block;
    text-transform: uppercase;
}

a:hover {
    text-decoration: none!important;
}

.card img{
    width: 160px;
    height: 160px;
}
/*.artist {*/
    /*font-size: 10px;*/
    /*display: inline-block;*/
/*}*/

/*.add-to-cart {*/
    /*color: #00e765;*/
    /*text-transform: uppercase;*/
/*}*/
/*
*/

.box-bottom {
    margin-top: 10px;
}
.page-number {
    float: right;
}

.page-number .prev {
    margin-left: 10px;
    width: 20px;
}

/*
 */
/*h2 {*/
    /*font-size: 32px;*/
    /*text-align: center;*/
    /*font-weight: 300;*/
/*}*/

/*modal*/
.form-inline  {
    padding-bottom: 20px;
}

.form-inline label{
    padding-right: 20px;
}

.form-inline label {
    padding-left: 5px;
}

.modal-footer button {
    height: 40px;
    color: black;
    width: 130px;
    font-size: 11px;
    text-align: center;
}


.pull {
    text-align: center;
}
.sale {
    color: grey;
}