body {
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 240px;
    padding-left: 80px;
}
.nav-link {
    color: white;
}



.searchby {
    padding-top: 120px;
    padding-bottom: 10px;
}
.input-group {
    position: relative;
    display: table;
}
.input-group .form-control {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    margin-top: 6px;
}
.bv-productsearch-inputfield {
    display: inline;
    font-size: 16px;
    height: 45px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    width: 1%;
    vertical-align: middle;
    display: table-cell;

}
.bv-productsearch-seachbutton-title {
    width: 70px;
}
.btn:hover {
    color: #373737;
    background: #3dac9a;
    border-color: #3dac9a;
}
.btn {
    background: #3dac9a;
    border-color: #3dac9a;
}



.nav-item {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 30px;
    /*padding-right: 10px;*/
}
#customer {
    color: white;
}

.item-menu {
    padding-left: 0;
    border: 5px;
}

.vieweye {
    color: white;
}


.btn-search {
    background: none;
    color: white;
    border: none;
}

.menu ul li {
    display: block;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding-top: 0;
}
.menu ul li .register{
    font-size: 16px;
}


.menu ul li .login{
    font-size: 16px;
}
.menu ul li a:hover {
    color: gainsboro;
    opacity: 0.8;
}
.menu ul li > .item-menu {
    display: none;
    position: absolute;
    z-index: 999;
    background: #6f42c1;
    width: 100px;
}
.menu ul li:hover .item-menu {
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    color: white;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.menu ul li #dropdownMenuButton {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 20px;
    padding-top: 0;
}
.dropdown-item:hover{
    background-color:#d8d7d4db;
}

.navbar {
    box-shadow: 5px 5px 5px black;
    width: 100%;
    background-image: url("/resources/img/background6.jpeg");
    background-size: cover;

}
/*banner*/

.carousel-link {
    border-left: 1px solid #999;
    float: right;
    font-size: 13px;
    height: 25px;
    line-height: 22px;
    padding: 2px 5px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    color: #FFFFFF;
}

.carousel-nav-container {
    padding-bottom: 20px;
}

.btn-gradient-secondary {
    background: #e5e5e5;
}
.carousel-nav a:hover {
    background: #4CBE9F;
    color: black;
}


hr {
    height: 2px;
}


.modal-footer button {
    height: 40px;
    color: black;
    width: 130px;
    font-size: 11px;
    text-align: center;
}


.clear {
    clear: both;
}

.error {
    color: red;
}

a:hover {
    text-decoration: none!important;
}


/*modal*/
.form-inline  {
    padding-bottom: 20px;
}

.form-inline label {
    margin-right: 20px;
}

.modal-body .form-inline button {
    margin-left: 65px;
    color: black;
}


.hot-disk {
    background-position: left;
    padding: 20px 0;
}
.hot-disk .mask p {
    color: cyan;
    font-size: 20px;
}

.hot-disk .card {
    margin-bottom: 30px;
}
.hot-ticket {
    background-image: url("/resources/img/background2.jpg");
    padding: 20px 0;
}
.hot-ticket img {
    height: 250px;
}
.hot-ticket .card {
    margin: 10px;
}
.hot-ticket h2 {
    color: white;
    text-align: center;
}
h2 a {
    font-size: 20px;
}
/*item*/
.prod-info {
    background: #fff;
    padding: 30px 0 20px;
}


.prod-info h4 {
    font-size: 20px;
    height: 50px;
    color: #404e67;
    margin-bottom: 10px;

}

.m-b-10 {
    margin-bottom: 10px;
}

.label {
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff!important;
}

.label-success {
    background: -webkit-gradient(linear,left top,right top,from(#0ac282),to(#0df3a3));
    background: linear-gradient(to right,#0ac282,#0df3a3);
}

.prod-info .prod-price {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.prod-info .prod-price .old-price {
    color: #919aa3;
    text-decoration: line-through;
    font-size: 50%;
}

.pull{
    background-size: cover;
    background-image: url("/resources/img/background1.jpeg");
    padding: 15px 0 4px;
    text-align: center;
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.btn.btn-icon {
    border-radius: 25%;
    width: 40px;
    line-height: 30px;
    height: 40px;
    padding: 3px;
    text-align: center;
}

.btn-success {
    background-color: #0ac282;
    border-color: #0ac282;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.btn-primary {
    background-color: #01a9ac;
    border-color: #01a9ac;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}



.p-new a {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 8px 13px;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 2px 0 0 2px;
    background: #2dcee3;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}

.p-sale a {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 40px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #ff5252;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 11px 4px;
}

/*footer*/
#footer {
    padding-top: 10px;
}
.footer-top img {
    width: 200px;
}
.footer-top h4 {
    color: white;
    padding-top: 15px;
}
#footer li {
    margin: 5px;
}

.footer-top a {
    color: white;
}

.footer-top {
    background-image: url("/resources/img/background2.jpg");
    background-size: auto;
    /*background-position: bottom;*/
    text-align: center;
}


.pagetop i {
    padding-right: 10px;
}


.chatnow {
    border: 1px solid #9E9E9E;
    border-radius: 35px;
    position: fixed;
    bottom: 8px;
    right: 45px;
    background-color: white;
}
#chat-head {
    background-color:#31af91;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #9E9E9E;
}
#chat-message {
    height: 150px;
}
#chat-area {
    border-top: 1px solid #9E9E9E;
    background-color: #78929238;
}
#chat-area input {
    border: none;
    width: 180px;
    padding-bottom: 5px;
    margin-left: 10px;
}
#chat-area img {
    width: 50px;
}

#boxchat {
    border: 2px solid #9E9E9E;
    border-radius: 8px;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 45px;
    width: 270px;
    overflow: auto;
    background-color: white;

}
.ontop {
    display: none;
    bottom: 8%;
    right: 5px;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    color: #3dac9a;
}
#closechat {
    color: #d9dfe0fa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right:10px;
}

#closechat:hover,
#closechat:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}










