<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<h1>List message</h1>
<div class="container ">
    <div class="list-message">
        <%
        for(var i = 0; i < listMessage.length; i++){
        %>
            <div >
                <div>wish: <%= listMessage[i].wish%></div>

                <img width="150px" height="200px" class="img-pd" src="<%= listMessage[i].image%>" alt="">

                <div>from: <%= listMessage[i].from%></div>

                <div>to: <%= listMessage[i].to%></div>
            </div>
        <%
        };
        %>

    </div>

</div>

</body>
</html>