<div id="boxchat">
    <div  id="chat-head">
        Chat With Us
        <span id="closechat">&times;</span>
    </div>
    <div id="chat-message">
    </div>
    <div id="chat-area">
        <form>
            <input placeholder="Enter message" >

            <img src="https://cdn2.iconfinder.com/data/icons/mini-icon-set-communication/91/Communication_10-512.png">
        </form>
    </div>
</div>
<div id="footer ">
    <div class="ontop">
        <i class="far fa-arrow-alt-circle-up fa-2x"></i>
    </div>
    <div class="chatnow">
        <div id="openchat"><img src="https://icons-for-free.com/free-icons/png/512/1891020.png" alt="" style="width:65px;"></div>
    </div>
    <div class="footer-top ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Connect With Us</h4>
                    <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <div class="links">
                        <ul class="list-unstyled">
                            <li class="fb">
                                <a class=" align-items-center pl-0" href="#" target="_blank" title="Like Us on FB">
                                    <i class="fab fa-facebook fa-2x"></i>
                                    <span class="ml-2">Facebook</span>
                                </a>
                            </li>
                            <li class="inst">
                                <a class=" align-items-center pl-0" href="#" title="Follow Us on Inst" target="_blank">
                                    <i class="fab fa-instagram fa-2x"></i>
                                    <span class="ml-2">Instagram</span>
                                </a>
                            </li>
                            <li class="ytb">
                                <a class=" align-items-center pl-0" href="#" target="_blank" title="Subcribe Us on YTB">
                                    <i class="fab fa-youtube fa-2x"></i>
                                    <span class="ml-2">Youtube</span>
                                </a>
                            </li>
                            <li class="email">
                                <a class=" align-items-center pl-0" href="#" target="_blank" title=" ">
                                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                    <span class="ml-2">Email</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Support</h4>
                    <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Help</a></li>
                        <li><a href="/client/contact">Contact Us</a></li>
                        <li><a href="/client/about">About us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Privacy</h4>
                    <hr class="white mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Service</a></li>
                        <li><a href="#">Supplier of Conduct</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/resources/img/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="pull ">
        <p >Copyright © 2019 Rhythm House. All rights reserved.</p>
    </div>
</div> <!--footer end-->