<div id="header">
    <nav class="navbar navbar-expand-xl fixed-top ">
        <a class="navbar-brand logo" href="/client/home"><img src="/resources/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="menu">
                <ul class=" nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/client/home"><i class="fas fa-home "></i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link dropdown-toggle"   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Disk
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/client/disk" >CD & DVD</a>
                            <a class="dropdown-item" href="/client/movie" >Movie</a>
                            <a class="dropdown-item" href="/client/band" >Band</a>
                            <a class="dropdown-item" href="/client/soloperformer" >Solo</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/client/ticket" id="ticket">Liveshow</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/client/magazine">
                            Magazine
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/client/book">
                            Book
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/client/cart" class="nav-link" id="selling-cart"><i class="fas fa-cart-plus"></i></a>
                    </li>

                    <li class="nav-item ">
                        <a ondblclick="document.getElementById('box-user').style.display='block'" class="nav-link dropdown-toggle"id="customer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class=" register nav-link dropdown-item" href="#" data-toggle="modal" data-target="#registerModal">Sign Up</a>
                            <a class="login nav-link dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!--nav end-->
    <div id="box-user">
        <div class="box-content">
            <div class="box-head">
                <img src="/resources/img/ex.jpg" alt="">
                <span class="usernam-box">ChipChip</span>
                <span onclick="document.getElementById('box-user').style.display='none'" class="box-close">&times;</span>
            </div>
            <div class="box-body">
                <ul class="list-unstyled">
                    <li>
                        Change avatar
                    </li>
                    <li>
                        Award Point
                    </li>
                    <li>
                        Discount Code
                    </li>
                    <li>
                        Notification
                    </li>
                    <li>
                        Change password
                    </li>
                    <li style="color: #0ac282">
                        Log Out
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>