<div class="searchby row justify-content-sm-center">
    <div class="input-group col-md-8 col-sm-10">
        <input class="bv-productsearch-inputfield form-control" type="text" placeholder="CD, DVD, Book, Liveshow,..." value="">
        <span class="input-group-btn ">
            <button class="bv-productsearch-searchbutton btn ">
                <div class="bv-productsearch-seachbutton-title ">
                    <i class="fas fa-search "></i>
                    <span>Search</span>
                </div>
            </button>
        </span>
    </div>
</div>