*{
    box-sizing: border-box;
    font-family: Tahoma;
}
.img-pd {
    height: 300px;
    width: 350px;
    border-radius: 10px;
}
.item-product {
    border: 1px solid rgba(13,23,20,0.2);
    border-radius: 10px;
    text-align: center;
}
.item-product:after {
    content: '';
    clear: both;
    display: table;
}
h1 {
    text-align: center;
}


.modal-header .close {
    float: right;
    margin: 0;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.form-group .col-md-10 {
    padding-left: 100px;

}
.lentop {display:none; bottom: 10%; right: 10px; cursor: pointer;  position: fixed; z-index: 1000;}
.chatnow {
    border: 1px solid white;
    border-radius: 35px;
    position: fixed;
    bottom: 8px;
    right: 45px;
    background-color: white;
}
#chat-head {
    background-color:#31af91;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid black;
}
#chat-message {
    height: 150px;
}
#chat-area {
    border-top: 1px solid black;
    background-color: #78929238;
}
#chat-area input {
    border: none;
    width: 180px;
    padding-bottom: 5px;
    margin-left: 10px;
}
#chat-area img {
    width: 50px;
}

#boxchat {
    border: 2px solid white;
    border-radius: 8px;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 45px;
    width: 250px;
    overflow: auto;
    background-color: white;

}
#closechat {
    color: #d9dfe0fa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right:10px;
}

#closechat:hover,
#closechat:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

